*.obj
*.exe
!/.nuget/NuGet.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
.zip
[Bb]in
[Dd]ebug/
*.lib
.sbr
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
UpgradeLog*.XML
[Pp]ublish/
UpgradeLog.htm
UpgradeLog.html
/.vs/config/applicationhost.config
packages/
/.vs